.data_grid_searchbar_container {
    /* border: 1px solid #000; */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 15px 30px;
    margin: 10px 0px;
}

.data_grid_searchbar_input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #000;
}