.data_grid_pagination_container {
    /* border: 1px solid #000; */
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
}

.data_grid_pagination_inner_container {
    display: flex;
}

.pagination_btn {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 0px 5px;
    background-color: #d2d2d2;
    color: gray;
    border: none;
    font-size: 12px;
}
.pagination_btn_active{
    background-color: rgba(127, 0, 255, 1);
    color: #fff ;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 0px 5px;
    border: none;
    font-size: 12px;
}
.data_grid_show_menu_con{
    display: flex;
    row-gap: 5px;
    width: 200px;
    font-size: 12px;
}

.data_grid_show_menu_con > select {
    margin-left: 10px ;
}